/* In your App.css or index.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body::-webkit-scrollbar {
  width: 0px; /* hide scrollbar */
  height: 0px;
}
.orange-text {
    color: #FF7400;
  }
  
  .FooterList ul {
    margin-bottom: 10px; /* add some margin between list items */
  }
  
  .FooterList li {
    margin-bottom: 10px; /* add some margin between list items */
  }